<div id="auth-wrapper">
    <mat-card>
        <h1>Sign In</h1>

        <form [formGroup]="signInForm" (ngSubmit)="signIn()">

            <!-- Username Field -->
            <mat-form-field appearance="fill">
                <mat-icon matPrefix class="prefix">person</mat-icon>
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username" required>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>

            <!-- Password Field -->
            <mat-form-field appearance="fill">
                <mat-icon matPrefix class="prefix">vpn_key</mat-icon>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" [type]="password_hidden ? 'password' : 'text'"
                    formControlName="password" required>
                <button mat-icon-button matSuffix (click)="password_hidden = !password_hidden" type="button">
                    <mat-icon>{{password_hidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>Hint</mat-hint>
            </mat-form-field>

            <!-- Remember Me -->
            <mat-checkbox class="remember-me" formControlName="remember_me">Remember me</mat-checkbox>

            <!-- Submit Button -->
            <button mat-raised-button color="primary" [disabled]="!signInForm.valid" type="submit">Sign
                In</button>
            <button mat-button type="button">I forgot my password</button>

        </form>

    </mat-card>
    <div class="img-filter"></div>
</div>