@import "~@angular/material/theming";

#auth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/bg/starwall-auth.jpg") center;
  background-size: cover;

  mat-card {
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    @include mat-elevation(12);
    @include mat-elevation-transition;

    &:hover {
      @include mat-elevation(24);
    }

    form {
      display: flex;
      flex-direction: column;

      mat-form-field,
      button {
        margin: 4px 0;
      }

      .prefix {
        margin-right: 5.5px;
      }
    }
  }

  .img-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #212121;
    z-index: 0;
    opacity: 0.5;
  }
}
