@import "~@angular/material/theming";

.wrapper {
  border-radius: 4px;
  overflow-y: hidden;

  .actions-wrapper {
    h1 {
      margin: 0;
    }
  }

  .table-wrapper {
    z-index: 1;
    overflow-y: hidden;
    border-radius: 4px;

    table,
    .paginator {
      width: 100%;
    }

    .main-table-wrapper {
      overflow-y: auto;
      &::-webkit-scrollbar {
        height: 12px !important;
      }
    }
  }
}

.status-chip {
  color: white;
  min-width: 120px;
  justify-content: center;
}

tr.mat-row {
  td {
    padding: 16px !important;
  }

  &:nth-child(even) {
    background-color: #eceff1 !important;
  }
}

th {
  padding: 16px !important;
  height: 40px !important;

  .mat-sort-header-content {
    width: max-content !important;
    word-break: keep-all;
  }
}


// Draggable column header styling
.cdk-drag-preview {
  width: min-content !important;
  display: flex;
  align-items: center;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Mat menus styling

mat-menu {
  margin-top: 16px;
}
