<div
  class="wrapper"
  fxLayout="column"
  fxLayoutAlign="space-between"
  fxLayoutGap="16px"
>
  <!-- Header -->
  <div
    *ngIf="config.headerVisible"
    class="actions-wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between"
  >
    <h1 fxLayout="row" fxLayoutAlign=" center">
      {{ orders$.length }} Order{{ orders$.length > 0 ? "s" : "" }}
    </h1>
    <button mat-raised-button color="primary" [disabled]="!selection.isEmpty()">
      New Order
    </button>
  </div>

  <div class="table-wrapper" fxFlex="1 0 auto">
    <!-- Table -->
    <div class="main-table-wrapper">
      <table
        mat-table
        matSort
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="!config.canReorderColumns"
        [matSortDisabled]="!config.sortable"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="select" *ngIf="config.canSelectRows" sticky>
          <th mat-header-cell *matHeaderCellDef cdkDrag cdkDragDisabled>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Status
          </th>
          <td mat-cell *matCellDef="let order">
            <mat-chip-list>
              <mat-chip
                class="status-chip"
                [ngStyle]="{
                  'background-color': getStatusColor(order.status)
                }"
                >{{ order.status | sidenavcase | uppercase }}</mat-chip
              >
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Number
          </th>
          <td mat-cell *matCellDef="let order">{{ order.number }}</td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Client
          </th>
          <td mat-cell *matCellDef="let order">{{ order.client.name }}</td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Creation Date
          </th>
          <td mat-cell *matCellDef="let order">
            {{ order.creationDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="installationDate">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Installation Date
          </th>
          <td mat-cell *matCellDef="let order">
            {{ order.installationDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="aluminumDate">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Aluminum Date
          </th>
          <td mat-cell *matCellDef="let order">
            {{ order.aluminumDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Company
          </th>
          <td mat-cell *matCellDef="let order">{{ order.company.name }}</td>
        </ng-container>

        <ng-container matColumnDef="representative">
          <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header>
            Representative
          </th>
          <td mat-cell *matCellDef="let order">{{ order.representative }}</td>
        </ng-container>

        <ng-container matColumnDef="more" stickyEnd>
          <th mat-header-cell *matHeaderCellDef cdkDrag cdkDragDisabled>
            <button
              mat-mini-fab
              *ngIf="selection.selected.length > 1"
              [matMenuTriggerFor]="displayedColumnsMenu"
              [matMenuTriggerFor]="itemActionsMultiple"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let order" class="more">
            <button
              class="itemActionTrigger"
              *ngIf="
                selection.isEmpty() ||
                (selection.selected.length == 1 &&
                  selection.selected[0] == order)
              "
              mat-icon-button
              [matMenuTriggerFor]="displayedColumnsMenu"
              [matMenuTriggerFor]="itemActions"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="headerRow"
          *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <!-- Paginator -->
    <ng-container *ngIf="config?.paginator">
      <mat-paginator
        class="paginator"
        [length]="config?.paginator?.length || 0"
        [pageSize]="config?.paginator?.pageSize || 50"
        [pageSizeOptions]="config?.paginator?.pageSizeOptions || []"
      >
      </mat-paginator>
    </ng-container>
  </div>
</div>

<!-- Menus -->

<mat-menu #itemActionsMultiple="matMenu" xPosition="before">
  <button mat-menu-item><mat-icon>visibility</mat-icon>View</button>
  <button mat-menu-item><mat-icon>edit</mat-icon>Edit</button>
  <button mat-menu-item><mat-icon>delete</mat-icon>Delete All</button>
  <mat-divider></mat-divider>
  <button mat-menu-item><mat-icon>select_all</mat-icon>Deselect All</button>
  <button mat-menu-item><mat-icon>select_all</mat-icon>Select All</button>
</mat-menu>

<mat-menu #itemActions="matMenu" xPosition="before">
  <button mat-menu-item><mat-icon>visibility</mat-icon>View</button>
  <button mat-menu-item><mat-icon>edit</mat-icon>Edit</button>
  <button mat-menu-item><mat-icon>delete</mat-icon>Delete</button>
</mat-menu>

<mat-menu #displayedColumnsMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let availableColumn of config.availableColumns"
    (click)="$event.stopPropagation()"
  >
    <mat-checkbox (click)="$event.stopPropagation()">{{
      availableColumn | sidenavcase | titlecase
    }}</mat-checkbox>
  </button>
</mat-menu>
