<div class="wrapper" fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-between center">
    <div>
      <h1>Summary Statistics</h1>
      <h4>Brief summary of month's statistics of order and quotes</h4>
    </div>

    <button mat-raised-button color="primary">Full Statistics</button>
  </div>

  <mat-divider [inset]="true"> </mat-divider>
  <div class="chart">
    <canvas
      #chart
      baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
</div>
