span {
  opacity: 0;
  transition: opacity 200ms;
}

:host.floating span {
  opacity: 1;
}

:host.floating input::placeholder {
  opacity: 1;
}

input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }

  &::placeholder {
    transition: opacity 200ms;
    opacity: 0;
  }
}

.floor-height-input-element {
  all: unset;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  text-align: right;
  color: white;
}

.floor-height-input-spacer {
  opacity: 0;
  padding: 0 4px;
  transition: opacity 200ms;
}
