<div
  class="floor-height-input-container"
  role="group"
  [formGroup]="floorHeightFormGroup"
  fxLayout="row"
>
  <input
    class="floor-height-input-element"
    type="number"
    formControlName="feet"
    placeholder="ft"
    style="width: 24px !important"
    #feetInput
  />
  <span class="floor-height-input-spacer">&#39;</span>
  <input
    class="floor-height-input-element"
    type="number"
    placeholder="in"
    formControlName="inches"
    style="width: 16px !important"
    #inchesInput
  />
  <span class="floor-height-input-spacer">&#39;&#39;</span>
  <mat-select formControlName="fraction" style="width: 50px" #fractionInput>
    <mat-option [value]="0">0</mat-option>
    <mat-option [value]="1 / 8">1/8</mat-option>
    <mat-option [value]="1 / 4">1/4</mat-option>
    <mat-option [value]="3 / 8">3/8</mat-option>
    <mat-option [value]="1 / 2">1/2</mat-option>
    <mat-option [value]="5 / 8">5/8</mat-option>
    <mat-option [value]="3 / 4">3/4</mat-option>
    <mat-option [value]="7 / 8">7/8</mat-option>
  </mat-select>
</div>
