<div class="wrapper" fxLayout="column" fxLayoutGap="16px">
  <!-- Header -->
  <div
    class="actions-wrapper"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
  >
    <div fxFlex="1 0 auto">
      <h1>
        {{ (companiesServ.companies$ | async)?.length }} Compan{{
          ((companiesServ.companies$ | async)?.length || 0) > 1 ? "ies" : "y"
        }}
      </h1>
      <h4>
        {{
          dataSource.filteredData.length ==
          (companiesServ.companies$ | async)?.length
            ? "All"
            : dataSource.filteredData.length
        }}
        shown
      </h4>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="displayedColumnsMenu">
      <mat-icon>view_column</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="openNewClientDialog()">
      New Company
    </button>
  </div>

  <mat-divider></mat-divider>

  <!-- Table Wrapper -->
  <div
    class="table-wrapper"
    fxLayout="column"
    fxLayoutGap="16px"
    *ngIf="!!(companiesServ.companies$ | async); else spinner"
  >
    <!-- Basic Filter -->

    <div class="filter-wrapper" fxLayout="row" fxLayoutAlign="center">
      <mat-form-field
        fxFlex="grow"
        class="table-basic-filter"
        *ngIf="!isAdvancedFilter; else advancedFilterFormField"
      >
        <mat-label>Basic Filter</mat-label>

        <input
          #basicFilter
          matInput
          placeholder="Type anything to search"
          (keyup)="applyBasicFilter($event)"
          autocomplete="off"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="isAdvancedFilter = !isAdvancedFilter"
        >
          <mat-icon>saved_search</mat-icon>
        </button>
      </mat-form-field>

      <ng-template #advancedFilterFormField>
        <mat-form-field fxFlex="grow">
          <mat-label>Advanced Filter</mat-label>
          <mat-chip-list #advancedFilterChipList>
            <mat-chip
              *ngFor="let filterVal of advancedFilterValues"
              [selectable]="false"
              removable
              (removed)="removeAdvancedFilterValue(filterVal)"
            >
              <b> {{ filterVal.field | uppercase }}</b> :
              <i>{{ filterVal.value | lowercase }}</i>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="tags:quis"
              [matChipInputFor]="advancedFilterChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur
              (matChipInputTokenEnd)="addAdvancedFilterValue($event)"
            />
          </mat-chip-list>

          <button
            mat-icon-button
            matSuffix
            (click)="isAdvancedFilter = !isAdvancedFilter"
          >
            <mat-icon>saved_search</mat-icon>
          </button>

          <mat-hint
            >Hint: The filter format is <b>HEADER</b>:<i>value</i>. Example:
            "tags:quis". This is field is <i>case-insensitive</i>.</mat-hint
          >
        </mat-form-field>
      </ng-template>
    </div>
    <!-- Table -->
    <div class="main-table-wrapper" fxFlex="0 1 auto">
      <table
        mat-table
        matSort
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        [dataSource]="dataSource"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column"
          [sticky]="column == 'name'"
          [stickyEnd]="column == 'name'"
        >
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
          >
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
              <mat-icon class="drag" cdkDragHandle>drag_indicator</mat-icon>
              <p mat-sort-header fxFlex="grow">
                {{ column | camelToTitleCase | uppercase }}
              </p>
              <button mat-icon-button class="hide" (click)="hideColumn(column)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </th>
          <td
            mat-cell
            *matCellDef="let company"
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
          >
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'name'">
                <button mat-raised-button color="primary">
                  {{ company[column] | titlecase }}
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'headOffice'">
                <button mat-stroked-button>
                  {{ company[column] | titlecase }}
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'financialClosingDate'">
                {{ company[column] | date }}
              </ng-container>
              <ng-container *ngSwitchCase="'discount'">
                {{ company[column].value }}% | {{ company[column].currency }}
              </ng-container>
              <ng-container
                *ngSwitchCase="
                  ['deliveryEmail', 'invoicingEmail'].includes(column)
                    ? column
                    : null
                "
              >
                {{ company[column.replace("Email", "")].email }}
              </ng-container>
              <ng-container *ngSwitchDefault>{{
                company[column]
              }}</ng-container>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="headerRow"
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns?.length">
            Nothing to show
          </td>
        </tr>
      </table>
    </div>

    <!-- Paginator -->
    <mat-paginator
      class="paginator"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15]"
    >
    </mat-paginator>
  </div>
</div>

<!-- Progress Spinner -->

<ng-template #spinner>
  <div
    fxFlex="1 0 auto"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="spinner-wrapper"
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<!-- Menus -->

<mat-menu #displayedColumnsMenu="matMenu">
  <mat-selection-list
    #displayedColumnsSelectionList
    [(ngModel)]="displayedColumnsSelected"
  >
    <mat-list-option
      *ngFor="let column of columns"
      (click)="$event.stopPropagation()"
      [value]="column"
    >
      {{ column | camelToTitleCase | titlecase }}
    </mat-list-option>
  </mat-selection-list>
</mat-menu>
