<div class="header-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <h1 fxLayout="row" fxLayoutGap="16px">
      <span>
        {{
          toFormControl(newQuoteFormGroup.get("quoteRequest.projectName"))
            ?.value
        }}</span
      >
      <mat-chip-list>
        <mat-chip>Status</mat-chip>
      </mat-chip-list>
    </h1>
    <h5>
      Quote number
      {{ quoteId }}
    </h5>
  </div>

  <button mat-icon-button (click)="toggleDialogView()">
    <mat-icon>open_in_full</mat-icon>
  </button>
</div>

<form [formGroup]="newQuoteFormGroup" autocomplete="off">
  <mat-accordion multi>
    <mat-expansion-panel
      expanded
      [ngClass]="{ isValid: newQuoteFormGroup.get('quote')?.valid }"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Quote Request </mat-panel-title>
      </mat-expansion-panel-header>
      <div formGroupName="quoteRequest" fxLayout="row wrap">
        <mat-form-field>
          <mat-label>Company</mat-label>
          <input
            autocomplete="off"
            matInput
            formControlName="company"
            placeholder="Company"
          />
          <mat-hint>Will show here the available companies</mat-hint>
        </mat-form-field>

        <!-- Client Selector -->
        <button mat-icon-button [matMenuTriggerFor]="clientSelector">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #clientSelector="matMenu">
          <div style="margin: 8px">
            <mat-form-field
              class="no-bottom-padding"
              (click)="$event.stopPropagation()"
              floatLabel="never"
              appearance="outline"
            >
              <input matInput [formControl]="clientFilter" />

              <mat-icon matPrefix>search</mat-icon>
              <button
                matSuffix
                mat-icon-button
                type="button"
                (click)="clientFilter.setValue('')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <button
            mat-menu-item
            *ngFor="let client of clientsServ.clients$ | async"
          >
            <span>{{ client.basicDetails.fullName.firstName }}</span>
          </button>
        </mat-menu>

        <!-- Contact Form Field -->
        <mat-form-field>
          <mat-label>Contact</mat-label>
          <input
            matInput
            formControlName="contact"
            placeholder="Contact"
            [matAutocomplete]="contactAutocomplete"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            [disabled]="
              this.newQuoteFormGroup.get('quoteRequest.client')?.disabled
            "
          >
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-autocomplete
            autoActiveFirstOption
            #contactAutocomplete="matAutocomplete"
          >
            <mat-option
              *ngFor="let contact of filteredContacts | async"
              [value]="contact.name"
            >
              {{ contact.name }}
            </mat-option>
          </mat-autocomplete>

          <mat-hint *ngIf="clientsServ.clients$ | async"
            >{{ (filteredContacts | async)?.length }} existing
            contacts</mat-hint
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Representative</mat-label>
          <input
            matInput
            formControlName="representative"
            placeholder="Representative"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Project</mat-label>
          <input
            matInput
            formControlName="projectName"
            placeholder="Project name"
          />
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Quote </mat-panel-title>
      </mat-expansion-panel-header>
      <div formGroupName="quote" fxLayout="row wrap">
        <div fxLayout="row wrap">
          <mat-form-field style="flex-basis: 0; width: 128px !important">
            <mat-label>Requested Date</mat-label>
            <input
              matInput
              [matDatepicker]="requestedDate"
              formControlName="requestedDate"
              placeholder="m/d/y"
              [max]="
                toFormControl(
                  newQuoteFormGroup.get('quote.installationDate')?.value
                )
              "
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="requestedDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #requestedDate></mat-datepicker>
            <mat-hint>{{
              newQuoteFormGroup.get("quote.requestedDate")?.value | date
            }}</mat-hint>
          </mat-form-field>

          <mat-form-field style="flex-basis: 0; width: 128px !important">
            <mat-label>Installation Date</mat-label>
            <input
              matInput
              placeholder="m/d/y"
              [matDatepicker]="installationDate"
              formControlName="installationDate"
              [min]="
                toFormControl(
                  newQuoteFormGroup.get('quote.requestedDate')?.value
                )
              "
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="installationDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #installationDate></mat-datepicker>
            <mat-hint>{{
              newQuoteFormGroup.get("quote.installationDate")?.value | date
            }}</mat-hint>
          </mat-form-field>
          <mat-form-field style="flex-basis: 0; width: 128px !important">
            <mat-label>Distance</mat-label>
            <button
              mat-icon-button
              matPrefix
              type="button"
              (click)="updateDistance(false)"
            >
              <mat-icon>remove</mat-icon>
            </button>
            <input
              matInput
              formControlName="distance"
              type="number"
              style="text-align: right"
            />
            <span matSuffix style="padding-left: 4px">
              <button mat-icon-button type="button" (click)="updateDistance()">
                <mat-icon>add</mat-icon>
              </button>
            </span>
            <mat-hint
              align="end"
              *ngIf="
                toFormControl(newQuoteFormGroup.get('quote.distance'))?.value
              "
              >{{
                (
                  toFormControl(newQuoteFormGroup.get("quote.distance"))
                    ?.value / 1.609
                ).toFixed(3)
              }}
              miles</mat-hint
            >
          </mat-form-field>
        </div>
        <mat-checkbox
          formControlName="isLocalProject"
          fxLayout="row"
          fxLayoutAlign="start center"
          >Local Project</mat-checkbox
        >
        <div
          style="margin: 16px"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="32px"
        >
          <div>
            <h4>Work</h4>
            <h5>
              {{
                toFormControl(newQuoteFormGroup.get("quote.work"))?.value
                  .length || "None"
              }}
              selected
            </h5>
          </div>
          <mat-button-toggle-group
            appearance="legacy"
            formControlName="work"
            multiple
          >
            <mat-button-toggle value="day">Day</mat-button-toggle>
            <mat-button-toggle value="night">Night</mat-button-toggle>
            <mat-button-toggle value="weekend">Weekend</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Delivery </mat-panel-title>
      </mat-expansion-panel-header>
      <div formGroupName="delivery" fxLayout="row wrap">
        <mat-checkbox fxLayout="row" fxLayoutAlign="start center"
          >The delivery address is the same as the client one</mat-checkbox
        >
        <mat-form-field style="flex-basis: 350px">
          <mat-label>Address</mat-label>
          <textarea
            cdkTextareaAutosize
            autocomplete="off"
            matInput
            formControlName="address"
            placeholder="Address"
          >
          </textarea>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Floors and Options </mat-panel-title>
      </mat-expansion-panel-header>
      <div formArrayName="floors">
        <div
          *ngFor="let floor of floors.controls; index as i"
          [formGroup]="toFormGroup(floor)"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <h3>{{ i + 1 }}</h3>
          <mat-form-field style="flex-basis: 0; width: 128px">
            <mat-label>Floor name</mat-label>
            <input
              autocomplete="off"
              matInput
              formControlName="name"
              placeholder="Name"
            />
          </mat-form-field>
          <mat-form-field style="flex-basis: 0; width: 128px">
            <mat-label>Color</mat-label>
            <mat-select placeholder="Color" formControlName="color">
              <mat-option *ngFor="let color of floorColors" [value]="color">
                {{ color }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="flex-basis: 0; width: 103px">
            <mat-label>Height</mat-label>
            <floor-height-input
              formControlName="dimensions"
              #floorHeight
            ></floor-height-input>
            <mat-hint *ngIf="floorHeight.value"
              >{{ getFloorHeightInMeters(floorHeight.value) }}m</mat-hint
            >
          </mat-form-field>
          <button
            mat-icon-button
            type="button"
            (click)="removeFloor(i)"
            matTooltip="Remove {{
              floor.get('name')?.value || 'Floor #' + (i + 1)
            }}"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <button mat-stroked-button type="button" (click)="addFloor()">
          Add new floor
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Project Access </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column" formGroupName="projectAccess">
        <div
          fxLayout="row"
          fxLayoutGap="16px"
          fxLayoutAlign="start center"
          style="margin: 16px"
        >
          <h4 style="width: 128px">Parking Availability</h4>
          <mat-button-toggle-group
            formControlName="parkingAvailability"
            appearance="legacy"
            style="flex-wrap: wrap"
            multiple
          >
            <mat-button-toggle
              *ngFor="let option of parkingAvailabilityOptions"
              [value]="option"
              >{{ option }}</mat-button-toggle
            >

            <mat-button-toggle value="Other">Other</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div
          fxLayout="row"
          fxLayoutGap="16px"
          fxLayoutAlign="start center"
          style="margin: 16px"
        >
          <h4 style="width: 128px">Project Location</h4>
          <mat-button-toggle-group
            formControlName="projectLocation"
            appearance="legacy"
            style="flex-wrap: wrap"
            multiple
          >
            <mat-button-toggle
              *ngFor="let option of projectLocationOptions"
              [value]="option"
              >{{ option }}</mat-button-toggle
            >
            <mat-button-toggle value="Other">Other</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div
          formArrayName="productHandling"
          #productHandlingEl
          style="margin: 16px"
        >
          <h4>Product Handling</h4>
          <div
            *ngFor="let ph of productHandling.controls; index as i"
            [formGroup]="toFormGroup(ph)"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <h3>{{ i + 1 }}</h3>

            <mat-form-field>
              <mat-label>Name</mat-label>
              <input
                autocomplete="off"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <mat-form-field style="flex-basis: 275px !important">
              <mat-label>Dimensions(L-W-H) in feet</mat-label>
              <product-handling-dimensions-input
                formControlName="dimensions"
                #productHandlingDimensions
              ></product-handling-dimensions-input>
              <mat-hint *ngIf="productHandlingDimensions.value">{{
                getProductHandlingDimensionsInMeters(
                  productHandlingDimensions.value
                )
              }}</mat-hint>
            </mat-form-field>
            <button
              mat-icon-button
              type="button"
              (click)="removeProductHandling(i)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <button
            mat-stroked-button
            type="button"
            (click)="addProductHandling(productHandlingEl)"
          >
            Add product handling
          </button>
        </div>

        <div formGroupName="locationDescription">
          <h4>Location Description</h4>
          <div
            *ngFor="let field of locationDescriptionOptions"
            fxLayout="row"
            fxLayoutGap="32px"
            fxLayoutAlign="start center"
            style="margin: 16px"
          >
            <h4 style="width: 50px">{{ field.name | titlecase }}</h4>
            <mat-button-toggle-group
              [formControlName]="field.name"
              appearance="legacy"
              style="flex-wrap: wrap"
              multiple
            >
              <mat-button-toggle
                *ngFor="let option of field.options"
                [value]="option"
                >{{ option }}</mat-button-toggle
              >
              <mat-button-toggle value="Other">Other</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>Project Access </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="end center">
  <button mat-button color="warn" (click)="discardQuote()">Discard</button>
  <div fxFlex="1 0 auto"></div>
  <button mat-raised-button color="primary" (click)="saveQuote()">
    Save Quote
  </button>
</div>
