.header-wrapper {
  padding: 16px;
  background-color: #212121;
}

.footer-wrapper {
  background: #212121;
  padding: 8px;
  button {
    margin: 8px;
  }
}

form {
  padding: 16px;
  background-color: #303030;
  flex: 1;
  overflow-y: auto;

  & > div {
    padding: 16px;
  }

  mat-form-field,
  mat-checkbox {
    margin: 16px;
    flex-basis: 200px;
  }

  mat-button-toggle-group {
    background-color: rgba(33, 33, 33, 0.25);
  }

  mat-card {
    padding: 0;
  }
}

input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

mat-expansion-panel {
  &.isValid {
    mat-expansion-panel-header {
      mat-expansion-title {
        color: #1b5e20;
      }
    }
  }
}
