<mat-progress-bar
  mode="indeterminate"
  *ngIf="progressBarShown"
></mat-progress-bar>
<div class="wrapper" fxLayout="column" fxLayoutGap="16px">
  <!-- Header -->
  <div
    class="actions-wrapper"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
  >
    <div fxFlex="1 0 auto">
      <h1>
        {{ (clientsServ.clients$ | async)?.length }} Client{{
          ((clientsServ.clients$ | async)?.length || 0) > 1 ? "s" : ""
        }}
      </h1>
      <h4>
        {{
          dataSource.filteredData.length ==
          (clientsServ.clients$ | async)?.length
            ? "All"
            : dataSource.filteredData.length
        }}
        shown
      </h4>
    </div>

    <mat-slide-toggle [(ngModel)]="showCountsOnly"
      >Show Counts Only</mat-slide-toggle
    >

    <button mat-icon-button [matMenuTriggerFor]="displayedColumnsMenu">
      <mat-icon>view_column</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="openClientDialog()">
      New Prospect
    </button>
  </div>

  <mat-divider></mat-divider>

  <!-- Table Wrapper -->
  <div
    class="table-wrapper"
    fxLayout="column"
    fxLayoutGap="16px"
    *ngIf="!!(clientsServ.clients$ | async); else spinner"
  >
    <!-- Basic Filter -->

    <div class="filter-wrapper" fxLayout="row">
      <mat-form-field
        fxFlex="grow"
        class="table-basic-filter"
        *ngIf="!isAdvancedFilter; else advancedFilterFormField"
      >
        <mat-label>Basic Filter</mat-label>

        <input
          #basicFilter
          matInput
          placeholder="Type anything to search"
          (keyup)="applyBasicFilter($event)"
          autocomplete="off"
        />

        <button
          mat-icon-button
          matPrefix
          (click)="isAdvancedFilter = !isAdvancedFilter"
        >
          <mat-icon>saved_search</mat-icon>
        </button>
      </mat-form-field>

      <ng-template #advancedFilterFormField>
        <mat-form-field fxFlex="grow">
          <mat-label>Advanced Filter</mat-label>
          <mat-chip-list #advancedFilterChipList>
            <mat-chip
              *ngFor="let filterVal of advancedFilterValues"
              [selectable]="false"
              removable
              (removed)="removeAdvancedFilterValue(filterVal)"
            >
              <b> {{ filterVal.field | uppercase }}</b> :
              <i>{{ filterVal.value | lowercase }}</i>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="tags:quis"
              [matChipInputFor]="advancedFilterChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur
              (matChipInputTokenEnd)="addAdvancedFilterValue($event)"
            />
          </mat-chip-list>

          <button
            mat-icon-button
            matPrefix
            (click)="isAdvancedFilter = !isAdvancedFilter"
          >
            <mat-icon>saved_search</mat-icon>
          </button>

          <mat-hint
            >Hint: The filter format is <b>HEADER</b>:<i>value</i>. Example:
            "tags:quis". This is field is <i>case-insensitive</i>.</mat-hint
          >
        </mat-form-field>
      </ng-template>
    </div>
    <!-- Table -->
    <div class="main-table-wrapper" fxFlex="0 1 auto">
      <table
        mat-table
        matSort
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        [dataSource]="dataSource"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column"
          [sticky]="column == 'name'"
          [stickyEnd]="column == 'name'"
        >
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
          >
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
              <mat-icon class="drag" cdkDragHandle>drag_indicator</mat-icon>
              <p mat-sort-header fxFlex="grow">
                {{ column | camelToTitleCase | uppercase }}
              </p>
              <button mat-icon-button class="hide" (click)="hideColumn(column)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </th>
          <td
            mat-cell
            *matCellDef="let client"
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
          >
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'status'">
                <mat-chip-list>
                  <mat-chip
                    class="status-chip"
                    [ngStyle]="{
                      'background-color': getStatusColor(
                        client.accountDetails.status
                      )
                    }"
                  >
                    <span style="margin: 0">{{
                      client.accountDetails.status | titlecase
                    }}</span>
                  </mat-chip>
                </mat-chip-list>
              </ng-container>
              <ng-container *ngSwitchCase="'name'">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="openClientDialog(client)"
                >
                  {{ client.basicDetails.fullName.firstName | titlecase }}
                  {{ client.basicDetails.fullName.lastName | titlecase }}
                  {{ client.basicDetails.fullName?.suffix | titlecase }}
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'tags'">
                <ng-container
                  *ngIf="client.accountDetails.tags.length; else noTag"
                >
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    *ngIf="!showCountsOnly"
                  >
                    <span
                      *ngFor="let tag of client.accountDetails.tags"
                      class="clientTag"
                    >
                      {{ tag }}
                    </span>
                  </div>

                  <ng-container *ngIf="showCountsOnly">
                    {{ client.accountDetails.tags.length }}
                    Tag{{
                      client.accountDetails.tags.length > 1 ? "s" : ""
                    }}</ng-container
                  >
                </ng-container>

                <ng-template #noTag>
                  <span class="nothing">NO TAG TO SHOW</span>
                </ng-template>
              </ng-container>
              <ng-container
                *ngSwitchCase="
                  ['representative', 'distributor'].includes(column)
                    ? column
                    : null
                "
              >
                <button mat-stroked-button>
                  {{ client.accountDetails[column].name | titlecase }}
                </button>
              </ng-container>
              <ng-container
                *ngSwitchCase="
                  ['phoneNumber', 'email'].includes(column) ? column : null
                "
              >
                {{ client.basicDetails.contact[column] }}
              </ng-container>
              <ng-container *ngSwitchCase="'address'">
                {{ client.basicDetails.address.fullAddress }}
              </ng-container>
              <ng-container *ngSwitchCase="'reminders'">
                <ng-container
                  *ngIf="
                    client.noteAndReminders?.reminders?.length;
                    else noReminder
                  "
                >
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    *ngIf="!showCountsOnly"
                  >
                    <span
                      *ngFor="
                        let reminder of client.noteAndReminders?.reminders
                      "
                      class="clientTag"
                    >
                      {{ reminder.toDate() | date }}
                    </span>
                  </div>

                  <ng-container *ngIf="showCountsOnly">
                    {{ client.noteAndReminders?.reminders?.length }}
                    Reminder{{
                      client.noteAndReminders?.reminders?.length > 1 ? "s" : ""
                    }}</ng-container
                  >
                </ng-container>

                <ng-template #noReminder>
                  <span class="nothing">NO REMINDER TO SHOW</span>
                </ng-template>
              </ng-container>
              <ng-container
                *ngSwitchCase="
                  ['createdAt', 'lastModifiedAt'].includes(column)
                    ? column
                    : null
                "
              >
                {{ client[column]?.toDate() | date }}
              </ng-container>
              <ng-container *ngSwitchCase="'contacts'">
                <ng-container *ngIf="client.contacts.length; else noContact">
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    *ngIf="!showCountsOnly"
                  >
                    <span
                      *ngFor="let contact of client.contacts"
                      class="clientTag"
                    >
                      {{ contact.name }}
                    </span>
                  </div>

                  <ng-container *ngIf="showCountsOnly">
                    {{ client.contacts.length }}
                    Contact{{
                      client.contacts.length > 1 ? "s" : ""
                    }}</ng-container
                  >
                </ng-container>

                <ng-template #noContact>
                  <span class="nothing">NO CONTACT TO SHOW</span>
                </ng-template>
              </ng-container>
              <ng-container *ngSwitchDefault>{{ client[column] }}</ng-container>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="headerRow"
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns?.length">
            Nothing to show
          </td>
        </tr>
      </table>
    </div>

    <!-- Paginator -->
    <mat-paginator
      class="paginator"
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50]"
    >
    </mat-paginator>
  </div>
</div>

<!-- Progress Spinner -->

<ng-template #spinner>
  <div
    fxFlex="1 0 auto"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="spinner-wrapper"
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<!-- Menus -->

<mat-menu #displayedColumnsMenu="matMenu">
  <mat-selection-list
    #displayedColumnsSelectionList
    [(ngModel)]="displayedColumnsSelected"
  >
    <mat-list-option
      *ngFor="let column of columns"
      (click)="$event.stopPropagation()"
      [value]="column"
    >
      {{ column | camelToTitleCase | titlecase }}
    </mat-list-option>
  </mat-selection-list>
</mat-menu>
