<h1 mat-dialog-title style="min-width: 500px">Delete prospect?</h1>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel Deletion</button>
  <button
    mat-raised-button
    color="warn"
    (click)="deleteProspect()"
    cdkFocusInitial
  >
    Delete
  </button>
</div>
