@import "~@angular/material/theming";

.wrapper {
  margin: 0 auto;
  padding: 16px 0;
  height: 100%;
  max-height: 100%;

  & > div {
    margin: 0 16px;
  }

  .actions-wrapper {
    h1 {
      margin: 0;
    }
  }
  .table-wrapper {
    max-width: calc(100% - 32px);
    width: fit-content;
    align-self: center;
    overflow-y: hidden;
    border-radius: 4px;

    table,
    .paginator {
      width: 100%;
    }

    .main-table-wrapper {
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  }
}

.spinner-wrapper {
  height: calc(100vh - 64px);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// Mat menus styling
mat-menu {
  margin-top: 16px;
}
