<div class="wrapper" fxLayout="column" fxLayoutGap="16px">
  <!-- Header -->
  <div
    class="actions-wrapper"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
  >
    <div fxFlex="1 0 auto">
      <h1>
        {{ (quotesServ.quotes$ | async)?.length }} Quote{{
          ((quotesServ.quotes$ | async)?.length || 0) > 1 ? "s" : ""
        }}
      </h1>
      <h4>
        {{
          dataSource.filteredData.length == (quotesServ.quotes$ | async)?.length
            ? "All"
            : dataSource.filteredData.length
        }}
        shown
      </h4>
    </div>

    <mat-slide-toggle [(ngModel)]="isLegendShown">Legend</mat-slide-toggle>

    <button mat-icon-button [matMenuTriggerFor]="displayedColumnsMenu">
      <mat-icon>view_column</mat-icon>
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="newQuoteController.openQuoteDialog()"
    >
      New Quote
    </button>
  </div>

  <mat-divider></mat-divider>

  <!-- Table Wrapper -->
  <div
    class="table-wrapper"
    fxLayout="column"
    fxLayoutGap="16px"
    *ngIf="!!(quotesServ.quotes$ | async); else spinner"
  >
    <!-- Filter -->
    <div class="filter-wrapper" fxLayout="row">
      <mat-form-field
        fxFlex="1 0 auto"
        class="table-basic-filter"
        *ngIf="!isAdvancedFilter; else advancedFilterFormField"
      >
        <mat-label>Basic Filter</mat-label>

        <input
          #basicFilter
          matInput
          placeholder="Type anything to search"
          (keyup)="applyBasicFilter($event)"
          autocomplete="off"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="isAdvancedFilter = !isAdvancedFilter"
        >
          <mat-icon>saved_search</mat-icon>
        </button>
      </mat-form-field>

      <ng-template #advancedFilterFormField>
        <mat-form-field style="width: 100%">
          <mat-label>Advanced Filter</mat-label>
          <mat-chip-list #advancedFilterChipList>
            <mat-chip
              *ngFor="let filterVal of advancedFilterValues"
              [selectable]="false"
              removable
              (removed)="removeAdvancedFilterValue(filterVal)"
            >
              <b> {{ filterVal.field | uppercase }}</b> :
              <i>{{ filterVal.value | lowercase }}</i>
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="tags:quis"
              [matChipInputFor]="advancedFilterChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur
              (matChipInputTokenEnd)="addAdvancedFilterValue($event)"
            />
          </mat-chip-list>

          <button
            mat-icon-button
            matSuffix
            (click)="isAdvancedFilter = !isAdvancedFilter"
          >
            <mat-icon>saved_search</mat-icon>
          </button>

          <mat-hint
            >Hint: The filter format is <b>HEADER</b>:<i>value</i>. Example:
            "tags:quis". This is field is <i>case-insensitive</i>.</mat-hint
          >
        </mat-form-field>
      </ng-template>
    </div>

    <!-- Legend -->
    <div *ngIf="isLegendShown" fxLayout="row" fxLayoutAlign="flex-end center">
      <mat-chip-list>
        <mat-chip
          *ngFor="let status of quoteStatuses"
          class="status-chip"
          [ngStyle]="{
            'background-color': getStatusColor(status)
          }"
        >
          <mat-icon>check</mat-icon>
          <span>{{ status | sidenavcase | uppercase }}</span>
        </mat-chip>
      </mat-chip-list>
    </div>
    <!-- Table -->
    <div class="main-table-wrapper" fxFlex="0 1 auto">
      <table
        mat-table
        matSort
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        [dataSource]="dataSource"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column"
          [sticky]="column == 'number'"
          [stickyEnd]="column == 'number'"
        >
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
          >
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
              <mat-icon class="drag" cdkDragHandle>drag_indicator</mat-icon>
              <p mat-sort-header fxFlex="grow">
                {{ column | camelToTitleCase | uppercase }}
              </p>
              <button mat-icon-button class="hide" (click)="hideColumn(column)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </th>
          <td
            mat-cell
            *matCellDef="let quote"
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
          >
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'status'">
                <mat-chip-list>
                  <mat-chip
                    class="status-chip"
                    [ngStyle]="{
                      'background-color': getStatusColor(quote.status)
                    }"
                  >
                    <mat-icon *ngIf="isLegendShown; else status"
                      >check</mat-icon
                    >
                    <ng-template #status>
                      <span style="margin: 0">Status</span>
                    </ng-template>
                  </mat-chip>
                </mat-chip-list>
              </ng-container>
              <ng-container *ngSwitchCase="'number'">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="newQuoteController.openQuoteDialog(quote)"
                >
                  {{ quote.id | titlecase }}
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'client'">
                <button mat-stroked-button>
                  {{
                    clientsServ.getClient(quote.quoteRequest.clientId)
                      | async
                      | json
                  }}
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'representative'">
                <button mat-stroked-button>
                  {{ quote.quoteRequest.representative.name | titlecase }}
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'distributor'">
                <button mat-stroked-button>
                  {{ quote.quoteRequest.company.name | titlecase }}
                </button>
              </ng-container>
              <ng-container *ngSwitchCase="'project'">
                {{ quote.quoteRequest.projectName }}
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                {{ quote.createdAt.toDate() | date }}
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ quote[column] }}
              </ng-container>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="headerRow"
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns?.length">
            Nothing to show
          </td>
        </tr>
      </table>
    </div>

    <!-- Paginator -->
    <mat-paginator
      class="paginator"
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50]"
    >
    </mat-paginator>
  </div>

  <!-- Progress Spinner -->
  <div
    fxFlex="1 0 auto"
    *ngIf="spinnerShown"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>

<!-- Spinner -->
<ng-template #spinner>
  <div
    fxFlex="1 0 auto"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="spinner-wrapper"
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<!-- Menus -->
<mat-menu #displayedColumnsMenu="matMenu">
  <mat-selection-list
    #displayedColumnsSelectionList
    [(ngModel)]="displayedColumnsSelected"
  >
    <mat-list-option
      *ngFor="let column of columns"
      (click)="$event.stopPropagation()"
      [value]="column"
    >
      {{ column | camelToTitleCase | titlecase }}
    </mat-list-option>
  </mat-selection-list>
</mat-menu>
