<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="!(layoutServ.minWidth(1160) | async) ? 'over' : 'side'"
    [opened]="
      (layoutServ.minWidth(1160) | async) && !!(authServ.currentUser$ | async)
    "
  >
    <div class="wrapper">
      <mat-toolbar style="background-color: #212121">
        <img src="../assets/logo_starwall-blanc.png" alt="" srcset="" />
      </mat-toolbar>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a
          class="header"
          [ngClass]="{ visible: headersVisibility.overview }"
          mat-list-item
          matSubheader
          (click)="headersVisibility.overview = !headersVisibility.overview"
        >
          <span>Overview</span>
          <mat-icon>expand_more</mat-icon>
        </a>
        <mat-divider></mat-divider>
        <ng-container *ngIf="headersVisibility.overview">
          <a
            class="sidenav_link"
            mat-list-item
            *ngFor="let sidenav_link of sidenav_links.overview"
            [routerLink]="sidenav_link"
            routerLinkActive="active"
            role="navigation"
            @sidenavLink
          >
            <mat-icon
              [svgIcon]="
                sidenav_link +
                (router.isActive(sidenav_link, false) ? '_active' : '')
              "
            >
            </mat-icon>
            <span class="sidenav-title" i18n>{{
              sidenav_link | sidenavcase | titlecase
            }}</span>
          </a>
        </ng-container>
        <mat-divider *ngIf="headersVisibility.overview"></mat-divider>
        <a
          class="header"
          [ngClass]="{ visible: headersVisibility.management }"
          (click)="headersVisibility.management = !headersVisibility.management"
          mat-list-item
          matSubheader
        >
          <span>Management</span>
          <mat-icon>expand_more</mat-icon>
        </a>
        <mat-divider></mat-divider>
        <ng-container *ngIf="headersVisibility.management">
          <a
            class="sidenav_link"
            mat-list-item
            *ngFor="let sidenav_link of sidenav_links.management"
            [routerLink]="'management/' + sidenav_link"
            routerLinkActive="active"
            role="navigation"
            @sidenavLink
          >
            <mat-icon
              [svgIcon]="
                sidenav_link +
                '-management' +
                (router.isActive('management/' + sidenav_link, false)
                  ? '_active'
                  : '')
              "
            >
            </mat-icon>
            <span class="sidenav-title">{{
              sidenav_link | sidenavcase | titlecase
            }}</span>
          </a>
        </ng-container>
        <mat-divider *ngIf="headersVisibility.management"></mat-divider>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar *ngIf="router.url.substring(1).split('/')[0] != 'auth'">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        class="sidenav-toggler"
        *ngIf="!(layoutServ.minWidth(1160) | async)"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <h3
        class="main-title"
        *ngIf="router.url.substring(1).split('/')[0].length"
      >
        <mat-icon
          [svgIcon]="
            (router.url.substring(1).split('/')[0] == 'management'
              ? router.url.substring(1).split('/')[1] + '-management'
              : router.url.substring(1).split('/')[0]) + '_active'
          "
        ></mat-icon>
        <span>{{
          router.url.substring(1).split("/")[0] | sidenavcase | titlecase
        }}</span>
      </h3>
      <ng-container *ngIf="router.url.substring(1).split('/')[1]">
        <mat-divider vertical></mat-divider>
        <h5 class="subtitle">
          {{ router.url.substring(1).split("/")[1] | sidenavcase | uppercase }}
        </h5>
      </ng-container>

      <div class="spacer"></div>
      <button class="notification" mat-icon-button>
        <mat-icon svgIcon="notification"></mat-icon>
      </button>
      <button mat-mini-fab [matMenuTriggerFor]="avatarMenu" color="primary">
        S
      </button>

      <mat-menu class="avatar-menu" #avatarMenu="matMenu">
        <button mat-menu-item>
          <mat-icon svgIcon="account-settings"></mat-icon>
          <span>Account Settings</span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="languages">
          <mat-icon svgIcon="language"></mat-icon>
          <span>Language</span>
        </button>

        <button mat-menu-item (click)="authServ.signOut()">
          <mat-icon svgIcon="sign-out"></mat-icon>
          <span>Sign Out</span>
        </button>
      </mat-menu>

      <mat-menu class="languages-menu" #languages="matMenu">
        <button mat-menu-item *ngFor="let lang of langs">
          <span>{{ lang.name }}</span>
          <mat-icon svgIcon="check" *ngIf="lang.enabled"></mat-icon>
        </button>
      </mat-menu>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading">
    </mat-progress-bar>
    <div id="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
