@import "~@angular/material/theming";

$config: mat-typography-config();

mat-sidenav-container {
  width: 100%;
  height: 100%;

  mat-sidenav {
    background-color: mat-color($mat-grey, 900) !important;
    @include mat-elevation(8);
    min-width: 300px;
    width: 15%;

    .wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      mat-toolbar {
        flex-shrink: 0;
        justify-content: space-between;

        img {
          height: 60%;
          position: relative;
          margin-left: -7px;
        }
      }

      mat-nav-list {
        flex-grow: 1;
        overflow: auto;
        .header {
          span {
            flex-grow: 1;
            text-transform: uppercase;
          }

          mat-icon {
            transition: transform 0.25s ease-in-out;
          }

          &.visible {
            mat-icon {
              transform: rotateZ(180deg);
            }
          }
        }

        .sidenav_link {
          @include mat-elevation-transition;
          font-weight: 500;

          .sidenav-title {
            margin-left: 16px;
            font-size: 14px;
            text-transform: uppercase;
          }

          &.active {
            background-color: white;
            color: mat-color($mat-grey, 900);
            @include mat-elevation(2);
          }
        }
      }
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    mat-toolbar {
      background-color: rgba(33, 33, 33, 0.75) !important;
      @include mat-elevation(2);

      flex: 0 0 auto;
      .spacer {
        flex: 1;
      }

      .sidenav-toggler {
        margin-right: 16px;
      }

      mat-divider {
        height: 50% !important;
        margin: 16px !important;
      }

      .main-title {
        display: flex;
        align-items: center;

        span {
          margin-left: 16px;
        }
      }

      .subtitle {
        @include mat-typography-level-to-styles($config, body-1);
        color: gray;
      }

      .notification {
        margin-right: 16px;
      }
    }

    #content-wrapper {
      flex: 1 1 auto;
      overflow: hidden;
    }
  }
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(4px);
}

.avatar-menu {
  margin-top: 16px;
  min-width: 200px;
  width: 200px;

  button {
    display: flex;
    align-items: center;

    span {
      flex-grow: 1;
    }

    mat-slide-toggle {
      justify-self: flex-end;
    }
  }
}

.languages-menu {
  min-width: 150px;
  width: 150px;

  button {
    display: flex;
    align-items: center;

    span {
      flex-grow: 1;
    }

    mat-icon {
      margin-right: 0 !important;
    }
  }
}
