<mat-progress-bar
  mode="indeterminate"
  *ngIf="progressBarShown"
></mat-progress-bar>
<div class="wrapper" fxLayout="column" fxLayoutGap="16px">
  <!-- Header -->
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="16px">
    <div fxFlex="1 0 auto">
      <h1>{{ recentQuotesNumber }} Recent quotes</h1>
      <h4>
        {{ (quotesServ.quotes$ | async)?.length }} Total quote{{
          ((quotesServ.quotes$ | async)?.length || 0) > 0 ? "s" : ""
        }}
      </h4>
    </div>

    <button
      mat-icon-button
      [matMenuTriggerFor]="displayedColumnsMenu"
      color="accent"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  <mat-divider [inset]="true"> </mat-divider>

  <!-- Table Wrapper -->
  <div
    class="table-wrapper"
    fxLayout="column"
    *ngIf="!!(quotesServ.quotes$ | async)"
  >
    <!-- Table -->
    <div class="main-table-wrapper" fxFlex="0 1 auto">
      <table
        mat-table
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        [dataSource]="dataSource"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column"
          [sticky]="column == 'name'"
          [stickyEnd]="column == 'actions'"
        >
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            [cdkDragDisabled]="column == 'actions'"
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
            [ngClass]="{ actions: column == 'actions' }"
          >
            {{ column | camelToTitleCase | uppercase }}
          </th>

          <td
            mat-cell
            *matCellDef="let quote"
            [ngStyle]="{
              display: displayedColumnsSelected.includes(column) ? null : 'none'
            }"
            [ngClass]="{ actions: column == 'actions' }"
          >
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'status'">
                <mat-chip-list>
                  <mat-chip
                    class="status-chip"
                    [ngStyle]="{
                      'background-color': getStatusColor(quote[column])
                    }"
                  >
                    <mat-icon>check</mat-icon>
                    <span style="margin: 0">{{
                      quote[column] | sidenavcase | uppercase
                    }}</span>
                  </mat-chip>
                </mat-chip-list>
              </ng-container>
              <ng-container *ngSwitchCase="'number'">
                <a>{{ quote[column] }}</a>
              </ng-container>
              <ng-container
                *ngSwitchCase="
                  ['client', 'distributor', 'representative'].includes(column)
                    ? column
                    : null
                "
              >
                <a>{{ quote[column].name }}</a>
              </ng-container>
              <ng-container *ngSwitchDefault>{{ quote[column] }}</ng-container>
            </ng-container>

            <ng-container [ngSwitch]="column"> </ng-container>
          </td>
        </ng-container>
        <tr
          mat-header-row
          class="headerRow"
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns?.length">
            Nothing to show
          </td>
        </tr>
      </table>
    </div>
  </div>

  <button mat-raised-button color="primary">Show All Quotes</button>

  <!-- Progress Spinner -->
  <div
    fxFlex="1 0 auto"
    *ngIf="spinnerShown"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>

<!-- Menus -->

<mat-menu #displayedColumnsMenu="matMenu">
  <mat-selection-list
    #displayedColumnsSelectionList
    [(ngModel)]="displayedColumnsSelected"
  >
    <mat-list-option
      *ngFor="let column of columns"
      (click)="$event.stopPropagation()"
      [value]="column"
    >
      {{ column | camelToTitleCase | titlecase }}
    </mat-list-option>
  </mat-selection-list>
</mat-menu>
