<mat-progress-bar
  mode="indeterminate"
  *ngIf="progressBarShown"
></mat-progress-bar>
<div class="wrapper" fxLayout="column" fxLayoutGap="16px">
  <!-- Header -->
  <div
    class="actions-wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between"
    fxLayoutGap="16px"
    *ngIf="(ordersServ.orders$ | async)?.length !== null"
  >
    <h1 fxLayout="row" fxLayoutAlign="flex-start center" fxFlex="1 0 auto">
      {{ (ordersServ.orders$ | async)?.length }} Order{{
        ((ordersServ.orders$ | async)?.length || 0) > 0 ? "s" : ""
      }}
    </h1>
    <mat-button-toggle-group
      name="tableConfig"
      multiple
      [formControl]="tableConfig"
      [ngStyle]="{ 'overflow-x': 'auto' }"
    >
      <mat-button-toggle value="advanced_filter"
        >Advanced Filter *</mat-button-toggle
      >
      <mat-button-toggle value="legend">Legend</mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-stroked-button [matMenuTriggerFor]="displayedColumnsMenu">
      Columns
    </button>
  </div>

  <mat-divider
    *ngIf="(ordersServ.orders$ | async)?.length !== null"
  ></mat-divider>

  <!-- Filter -->
  <ng-container *ngIf="(ordersServ.orders$ | async)?.length !== null">
    <!-- Basic Filter -->
    <div
      fxLayout="row"
      class="basic-filter"
      *ngIf="
        !tableConfig.value.includes('advanced_filter');
        else advancedFilter
      "
    >
      <mat-form-field appearance="fill" fxFlex="1 0 auto">
        <mat-label>Basic Filter</mat-label>
        <input
          #basicFilter
          matInput
          placeholder="Type anything to search"
          (keyup)="applyBasicFilter($event)"
          autocomplete="off"
        />
        <mat-icon matSuffix>search</mat-icon>
        <mat-hint *ngIf="this.dataSource?.filteredData"
          >{{ this.dataSource.filteredData.length }} results</mat-hint
        >
      </mat-form-field>
    </div>

    <!-- Advanced Filter -->
    <ng-template #advancedFilter>
      <div class="advanced-filter" fxLayout="column" fxLayoutGap="16px">
        <h3>
          * Under development. Concept is a chip list with a dropdown on the
          specific chip to select a column header to filter.
        </h3>
      </div>
    </ng-template>
  </ng-container>

  <!-- Legend -->
  <div
    *ngIf="tableConfig.value.includes('legend')"
    fxLayout="row"
    fxLayoutAlign="flex-end center"
  >
    <mat-chip-list>
      <mat-chip
        *ngFor="let status of orderStatuses"
        class="status-chip"
        [ngStyle]="{
          'background-color': getStatusColor(status)
        }"
      >
        <mat-icon>check</mat-icon>
        <span>ORDERS {{ status | sidenavcase | uppercase }}</span>
      </mat-chip>
    </mat-chip-list>
  </div>

  <!-- Table Wrapper -->
  <div
    class="table-wrapper"
    fxLayout="column"
    *ngIf="!!(ordersServ.orders$ | async)"
  >
    <!-- Table -->
    <div class="main-table-wrapper" fxFlex="0 1 auto">
      <table
        mat-table
        matSort
        cdkDropList
        cdkDropListLockAxis="x"
        cdkDropListOrientation="horizontal"
        [dataSource]="dataSource"
        (cdkDropListDropped)="drop($event)"
      >
        <ng-container matColumnDef="status">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('status')
                ? null
                : 'none'
            }"
          >
            Status
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('status')
                ? null
                : 'none'
            }"
          >
            <mat-chip-list>
              <mat-chip
                class="status-chip"
                [ngStyle]="{
                  'background-color': getStatusColor(order.status)
                }"
              >
                <mat-icon
                  *ngIf="tableConfig.value.includes('legend'); else status"
                  >check</mat-icon
                >
                <ng-template #status>
                  <span style="margin: 0"
                    >ORDERS {{ order.status | sidenavcase | uppercase }}</span
                  >
                </ng-template>
              </mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="number">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('number')
                ? null
                : 'none'
            }"
          >
            Number
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('number')
                ? null
                : 'none'
            }"
          >
            {{ order.number }}
          </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('client')
                ? null
                : 'none'
            }"
          >
            Client
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('client')
                ? null
                : 'none'
            }"
          >
            <button mat-stroked-button color="primary">
              {{ order.client.name }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('creationDate')
                ? null
                : 'none'
            }"
          >
            Creation Date
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('creationDate')
                ? null
                : 'none'
            }"
          >
            {{ order.creationDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="installationDate">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('installationDate')
                ? null
                : 'none'
            }"
          >
            Installation Date
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('installationDate')
                ? null
                : 'none'
            }"
          >
            {{ order.installationDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="aluminumDate">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('aluminumDate')
                ? null
                : 'none'
            }"
          >
            Aluminum Date
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('aluminumDate')
                ? null
                : 'none'
            }"
          >
            {{ order.aluminumDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('company')
                ? null
                : 'none'
            }"
          >
            Company
          </th>

          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('company')
                ? null
                : 'none'
            }"
          >
            <button mat-stroked-button color="primary">
              {{ order.company.name }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="representative">
          <th
            mat-header-cell
            cdkDrag
            cdkDragBoundary=".headerRow"
            *matHeaderCellDef
            mat-sort-header
            [ngStyle]="{
              display: displayedColumnsSelected.includes('representative')
                ? null
                : 'none'
            }"
          >
            Representative
          </th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('representative')
                ? null
                : 'none'
            }"
          >
            <button mat-stroked-button color="primary">
              {{ order.representative }}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th
            mat-header-cell
            *matHeaderCellDef
            cdkDrag
            cdkDragBoundary=".headerRow"
            cdkDragDisabled
            [ngStyle]="{
              display: displayedColumnsSelected.includes('actions')
                ? null
                : 'none'
            }"
          ></th>
          <td
            mat-cell
            *matCellDef="let order"
            [ngStyle]="{
              display: displayedColumnsSelected.includes('actions')
                ? null
                : 'none'
            }"
          >
            <button mat-icon-button color="primary">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          class="headerRow"
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns?.length">
            Nothing to show
          </td>
        </tr>
      </table>
    </div>

    <!-- Paginator -->
    <mat-paginator
      class="paginator"
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50]"
    >
    </mat-paginator>
  </div>

  <!-- Progress Spinner -->
  <div
    fxFlex="1 0 auto"
    *ngIf="spinnerShown"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>

<!-- Menus -->

<mat-menu #displayedColumnsMenu="matMenu">
  <mat-selection-list
    #displayedColumnsSelectionList
    [(ngModel)]="displayedColumnsSelected"
  >
    <mat-list-option
      *ngFor="let column of columns"
      (click)="$event.stopPropagation()"
      [value]="column"
    >
      {{ column | camelToTitleCase | titlecase }}
    </mat-list-option>
  </mat-selection-list>
</mat-menu>
