@import "~@angular/material/theming";

@mixin columnHeader {
  user-select: none;
  padding: 4px 16px !important;
  white-space: nowrap;
  height: 48px !important;
}

.wrapper {
  margin: 0 auto;
  padding: 16px 0;
  max-width: 1600px;
  height: 100%;
  max-height: 100%;

  & > div {
    margin: 0 16px;
  }

  .actions-wrapper {
    h1 {
      margin: 0;
    }
  }

  .table-wrapper {
    overflow-y: hidden;
    border-radius: 4px;
    @include mat-elevation(4);

    table,
    .paginator {
      width: 100%;
    }

    table {
      th {
        cursor: move;
      }
    }

    .main-table-wrapper {
      overflow-y: auto;
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  }
}

.headerRow {
  background-color: mat-color($mat-teal, 500);

  th {
    @include columnHeader();
  }
}

// Draggable header styling

.cdk-drag-preview {
  @include columnHeader();
  position: absolute !important;
  display: flex;
  align-items: center;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.status-chip {
  min-width: none;
  color: white;
  span {
    margin-left: 12px;
  }
}

// Mat menus styling
mat-menu {
  margin-top: 16px;
}
