<div class="wrapper" fxLayout="column">
  <div
    class="header-wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between start"
  >
    <div>
      <h1>
        {{
          (fullName | async) ||
            (this.data?.client?.id
              ? generateFullName(this.data.client?.basicDetails?.fullName)
              : "New Prospect")
        }}
      </h1>
      <h5>{{ clientId }}</h5>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
      <button
        mat-icon-button
        *ngIf="data.client?.id"
        (click)="deleteProspect()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <form
    class="form-wrapper"
    [formGroup]="newProspectFormGroup"
    autocomplete="off"
  >
    <mat-tab-group style="overflow-y: auto" dynamicHeight>
      <mat-tab label="Prospect Information">
        <mat-accordion multi>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>Basic Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div formGroupName="basicDetails" fxLayout="column">
              <div formGroupName="fullName" fxLayout="row">
                <mat-form-field flex="0 1 150px">
                  <mat-label>First Name</mat-label>
                  <input
                    cdkFocusInitial
                    matInput
                    placeholder="First name"
                    formControlName="firstName"
                    required
                  />
                </mat-form-field>
                <mat-form-field flex="0 1 150px">
                  <mat-label>Last Name</mat-label>
                  <input
                    matInput
                    placeholder="Last name"
                    formControlName="lastName"
                    required
                  />
                </mat-form-field>

                <mat-form-field flex="0 1 150px">
                  <mat-label>Middle Name</mat-label>
                  <input
                    matInput
                    placeholder="Middle name"
                    formControlName="middleName"
                  />
                </mat-form-field>
                <mat-form-field fxFlex="0 0 100px">
                  <mat-label>Suffix</mat-label>
                  <input
                    matInput
                    placeholder="Suffix"
                    formControlName="suffix"
                  />
                </mat-form-field>
              </div>

              <!-- Contact Details -->
              <div fxLayout="row wrap" formGroupName="contact">
                <mat-form-field fxFlex="1 0 auto">
                  <mat-label>Phone Number</mat-label>
                  <input
                    matInput
                    placeholder="Phone Number"
                    formControlName="phoneNumber"
                    required
                  />
                </mat-form-field>
                <mat-form-field fxFlex="1 0 auto">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    placeholder="Email"
                    formControlName="email"
                    type="email"
                    required
                  />
                </mat-form-field>
              </div>

              <p style="padding: 0 16px 16px">Business Card/s (Optional)</p>
              <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label
                  >Drop your business card/s</ngx-dropzone-label
                >
                <ngx-dropzone-image-preview
                  ngProjectAs="ngx-dropzone-preview"
                  *ngFor="let f of businessCards"
                  [file]="f"
                  [removable]="true"
                  (removed)="onRemove($event)"
                >
                  <!-- <ngx-dropzone-label
                    >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
                  > -->
                </ngx-dropzone-image-preview>
              </ngx-dropzone>

              <!-- Address -->
              <div fxLayout="row wrap" formGroupName="address">
                <mat-form-field fxFlex="grow">
                  <mat-label>Address</mat-label>
                  <input
                    matInput
                    placeholder="Address"
                    formControlName="fullAddress"
                    required
                  />
                  <mat-hint
                    >This field is still under construction for I am still
                    finalizing the billing information for the address
                    autocomplete subscription. Know more
                    <a
                      target="_blank"
                      href="https://developers.google.com/maps/documentation/places/web-service/usage-and-billing"
                      >here</a
                    >.</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>Account Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div formGroupName="accountDetails">
              <div fxLayout="row wrap">
                <mat-form-field>
                  <mat-label>Distributor</mat-label>
                  <input
                    matInput
                    formControlName="distributor"
                    placeholder="Distributor"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Representative</mat-label>
                  <input
                    matInput
                    formControlName="representative"
                    placeholder="Representative"
                    required
                  />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Tags</mat-label>
                  <mat-chip-list #tagsChiplist formControlName="tags">
                    <mat-chip
                      *ngFor="let tag of tags!.value"
                      removable
                      (removed)="removeTag(tag)"
                    >
                      {{ tag }}
                      <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                      placeholder="New tag..."
                      [matChipInputFor]="tagsChiplist"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      (matChipInputTokenEnd)="addTag($event)"
                      [matAutocomplete]="tagsAutoComplete"
                    />

                    <mat-autocomplete
                      #tagsAutoComplete="matAutocomplete"
                      (optionSelected)="addTagViaAutocomplete($event)"
                    >
                      <mat-option *ngFor="let tag of defaultTags" [value]="tag">
                        {{ tag | titlecase }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-expansion-panel-title
                >Note and {{ reminders.controls.length + " " }}Reminder{{
                  reminders.controls.length > 1 ? "s" : ""
                }}</mat-expansion-panel-title
              >
            </mat-expansion-panel-header>
            <div formGroupName="noteAndReminders" fxLayout="row wrap">
              <mat-form-field>
                <mat-label>Note (Optional)</mat-label>
                <textarea
                  #noteAndReminders_note
                  cdkTextareaAutosize
                  matInput
                  placeholder="Type anything . . ."
                  formControlName="note"
                ></textarea>
                <mat-hint *ngIf="noteAndReminders_note.value" align="end"
                  >{{ noteAndReminders_note.value.length }} characters</mat-hint
                >
              </mat-form-field>
              <mat-divider vertical style="margin: 0 32px"> </mat-divider>
              <div
                formArrayName="reminders"
                fxLayout="column"
                fxLayoutAlign="center start"
              >
                <div
                  *ngFor="let reminder of reminders.controls; index as i"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                >
                  <h3>{{ i + 1 }}</h3>
                  <mat-form-field
                    style="flex-basis: 0; width: 128px !important"
                  >
                    <mat-label>Date (Required)</mat-label>
                    <input
                      matInput
                      placeholder="mm/dd/yyyy"
                      [matDatepicker]="picker"
                      [formControl]="toFormControl(reminder)"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>{{ reminder.value | date }}</mat-hint>
                  </mat-form-field>
                  <button mat-icon-button (click)="removeReminder(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <button
                  mat-stroked-button
                  (click)="addReminder()"
                  type="button"
                >
                  Add new reminder
                </button>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>Taxes</mat-panel-title>
            </mat-expansion-panel-header>

            <div formArrayName="taxes">
              <div
                *ngFor="let tax of taxes.controls; index as i"
                fxLayout="row"
                fxLayoutAlign="start center"
                [formGroup]="toFormGroup(tax)"
              >
                <h3>{{ i + 1 }}</h3>
                <mat-form-field style="flex-basis: 0; width: 128px">
                  <mat-label>Name</mat-label>
                  <input
                    matInput
                    formControlName="name"
                    placeholder="Name"
                    required
                  />
                  <mat-error>This field is <b>required</b>.</mat-error>
                </mat-form-field>

                <mat-form-field style="flex-basis: 0; width: 128px">
                  <mat-label
                    >Value{{ " of " + tax.get("name")?.value || "" }}</mat-label
                  >
                  <input
                    matInput
                    formControlName="value"
                    placeholder="Value of {{ tax.get('name')?.value || 'tax' }}"
                    required
                  />
                  <mat-error>This field is <b>required</b>.</mat-error>
                </mat-form-field>

                <button
                  mat-icon-button
                  style="margin: 8px"
                  (click)="removeTax(i)"
                  type="button"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>

              <button mat-stroked-button type="button" (click)="addTax()">
                Add new tax
              </button>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>Quote Details</mat-panel-title>
            </mat-expansion-panel-header>

            <div
              formGroupName="quoteDetails"
              fxLayout="row wrap"
              fxLayoutAlign="start center"
            >
              <mat-form-field>
                <mat-label>Credit Quote</mat-label>
                <input
                  matInput
                  placeholder="Credit Quote"
                  formControlName="quote"
                />
              </mat-form-field>

              <mat-checkbox formControlName="claimCredit"
                >Claim credit</mat-checkbox
              >

              <mat-form-field>
                <mat-label>Note</mat-label>
                <textarea
                  #quoteDetails_note
                  cdkTextareaAutosize
                  matInput
                  placeholder="Type anything . . ."
                  formControlName="note"
                ></textarea>
                <mat-hint *ngIf="quoteDetails_note.value" align="end"
                  >{{ quoteDetails_note.value.length }} characters</mat-hint
                >
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion></mat-tab
      >
      <mat-tab
        id="contacts"
        label="{{ contacts.length }} Contact{{
          contacts.length > 1 ? 's' : ''
        }}"
      >
        <div
          *ngFor="let contact of contacts.controls; index as i"
          [formGroup]="toFormGroup(contact)"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <h3>{{ i + 1 }}</h3>
          <mat-form-field>
            <mat-label>Name (Required)</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title" formControlName="title" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telephone</mat-label>
            <input
              matInput
              placeholder="Telephone"
              formControlName="telephone"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
          </mat-form-field>
          <button mat-icon-button (click)="removeContact(i)" type="button">
            <mat-icon>close</mat-icon>
          </button>
        </div>
        <button mat-stroked-button type="button" (click)="addContact()">
          New Contact
        </button>
      </mat-tab>
    </mat-tab-group>
  </form>
  <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="end center">
    <button mat-button color="warn" (click)="discardProspect()">
      {{ this.data.client?.id ? "Close" : "Discard" }}
    </button>
    <div fxFlex="1 0 auto"></div>

    <button
      mat-raised-button
      color="primary"
      fxFlex="1 0 auto"
      *ngIf="newProspectFormGroup.dirty && contacts.length"
      (click)="saveProspect()"
      [disabled]="!newProspectFormGroup.valid"
    >
      {{ this.data.client?.id ? "Save" : "Add New" }} Prospect
    </button>
  </div>
</div>
