<mat-form-field fxLayout="row">
  <mat-label>Filter</mat-label>
  <mat-select fxFlex="1 0 auto">
    <mat-option *ngFor="let fruit of fruits" [value]="fruit.name">
      {{ fruit.name }}
    </mat-option>
  </mat-select>
  <mat-chip-list #chipList fxFlex="1 0 auto">
    <mat-chip
      *ngFor="let fruit of fruits"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(fruit)"
    >
      {{ fruit.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      matInput
      placeholder="New filter..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
</mat-form-field>
