<div class="wrapper" fxLayout="column" fxLayoutGap="16px">
  <!-- Header -->
  <div
    class="actions-wrapper"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
  >
    <div fxFlex="1 0 auto">
      <h1>
        {{ (rightsServ.rights$ | async)?.length }} Right{{
          ((rightsServ.rights$ | async)?.length || 0) > 1 ? "s" : ""
        }}
      </h1>
    </div>
  </div>

  <mat-divider></mat-divider>
  <mat-sidenav-container autosize fxFlex="grow">
    <mat-sidenav #rightsDrawer mode="side" opened style="min-width: 300px">
      <mat-selection-list
        [formControl]="selectedRightFormControl"
        [multiple]="false"
      >
        <mat-list-option *ngFor="let right of rights" [value]="right">
          {{ right.name }}
        </mat-list-option>
      </mat-selection-list>
      <button
        mat-raised-button
        color="primary"
        (click)="openNewClientDialog()"
        style="margin: 16px"
      >
        New Right
      </button>
    </mat-sidenav>

    <div
      class="selectedRightWrapper"
      *ngIf="selectedRightFormGroup"
      fxLayout="column"
      fxLayoutGap="16px"
      fxLayoutAlign="start start"
      [formGroup]="selectedRightFormGroup"
    >
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-checkbox formControlName="administrator">Administrator</mat-checkbox>
      <h3>
        {{ permissions?.controls?.length }}
        Permission{{ (permissions?.controls?.length || 0) > 1 ? "s" : "" }}
      </h3>

      <div
        formArrayName="permissions"
        fxLayout="column wrap"
        fxLayoutAlign="start start"
        style="width: 100%; overflow: auto"
      >
        <div
          *ngFor="let permission of permissions?.controls; index as i"
          [formGroup]="toFormGroup(permission)"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="16px"
          style="margin: 8px"
        >
          <mat-button-toggle-group
            appearance="legacy"
            multiple
            formControlName="access"
          >
            <mat-button-toggle value="r">Read</mat-button-toggle>
            <mat-button-toggle value="w">Write</mat-button-toggle>
          </mat-button-toggle-group>
          <h3 style="width: 150px">{{ permission.value.name }}</h3>
        </div>
        <button mat-stroked-button style="margin: 8px">New Access</button>
      </div>
    </div>
  </mat-sidenav-container>
</div>
