@import "~@angular/material/theming";

.wrapper {
  margin: 0 auto;
  padding: 16px 0;
  height: 100%;
  max-height: 100%;

  & > div {
    margin: 0 16px;
  }

  .actions-wrapper {
    h1 {
      margin: 0;
    }
  }

  mat-sidenav-container {
    margin: 0 16px;
    border-radius: 16px;

    .selectedRightWrapper {
      overflow: hidden;
      margin-left: 16px !important;
      max-height: 100% !important;
    }
  }
}
