<form id="new-user-dialog_wrapper" [ngClass]="{'expanded': expanded}" [formGroup]="new_user__form"
    (ngSubmit)="submitForm()">
    <mat-toolbar class="header" color="primary">
        <h1>New User</h1>
        <button mat-icon-button (click)="toggleView()" type="button">
            <mat-icon>{{'fullscreen' + (expanded ? '_exit' : '')}}</mat-icon>
        </button>
    </mat-toolbar>
    <div class="form-wrapper" mat-dialog-content>
        <div>
            <h4 class="form-subheader">Account Details</h4>


            <div class="fullName" formGroupName="fullName">
                <mat-form-field *ngFor="let textField of fullNameTextFields" class="field" appearance="outline"
                    style.margin="8px">
                    <mat-label>{{textField.name | titlecase}}</mat-label>
                    <input matInput [type]="textField.type" [formControlName]="textField.name"
                        [required]="!!textField.required">
                </mat-form-field>
            </div>
            <h4 class="form-subheader">Basic Details</h4>
            <div class="requiredFields">
                <mat-form-field *ngFor="let textField of requiredFields" class="field" appearance="outline"
                    style.margin="8px">
                    <mat-label>{{textField.name | titlecase}}</mat-label>
                    <input matInput [type]="textField.type" [formControlName]="textField.name"
                        [required]="!!textField.required">
                </mat-form-field>

                <mat-slide-toggle class="field" formControlName="admin">Admin</mat-slide-toggle>
            </div>
        </div>
    </div>
    <mat-toolbar class="actions">
        <button mat-button color="warn" mat-dialog-close type="button">Discard</button>
        <button mat-button mat-raised-button color="primary" type="submit" [disabled]="new_user__form.invalid">Save
            User</button>
    </mat-toolbar>
</form>