@import "~@angular/material/theming";
$config: mat-typography-config();

#new-user-dialog_wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;

  width: 700px;
  height: 370.25px;

  transition: height 0.3s ease-out, width 0.3s ease-out,
    max-height 0.3s ease-out, max-width 0.3s ease-out;
  &.expanded {
    max-width: 100vw !important;
    max-height: 100vh !important;
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    flex-shrink: 0;

    h1 {
      margin-bottom: 0;
    }
  }

  .form-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    overflow-y: auto;

    & > div {
      margin-bottom: 16px;
      max-width: 800px;
      display: flex;
      flex-direction: column;

      .form-subheader {
        @include mat-typography-level-to-styles($config, caption);
        text-transform: uppercase;
        margin: 0;
        color: lightgray;
        margin: 8px 16px;
      }

      & > div {
        margin: 0 8px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
      }
      .field {
        flex: 1 0 30%;
        margin: 0 8px;
      }

      mat-slide-toggle {
        padding: 8px 0 !important;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
    padding: 16px;

    button:first-of-type {
      margin-right: 16px;
    }
  }
}
