@import "~@angular/material/theming";
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@include mat-core();

// Color Palette
$starwall-primary: mat-palette($mat-grey);
$starwall-accent: mat-palette($mat-amber, A200, A100, A400);
$starwall-warn: mat-palette($mat-red);

// Light Theme
$starwall-theme: mat-light-theme(
  (
    color: (
      primary: $starwall-primary,
      accent: $starwall-accent,
      warn: $starwall-warn,
    ),
  )
);

// Dark Theme
$starwall-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $starwall-primary,
      accent: $starwall-accent,
      warn: $starwall-warn,
    ),
  )
);

@include angular-material-theme($starwall-theme);

.darkMode {
  @include angular-material-theme($starwall-dark-theme);
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}

app-root {
  width: 100%;
  height: 100%;
}

* {
  scrollbar-color: mat-color($starwall-accent, lighter)
    mat-color($mat-grey, 700);
  scrollbar-gutter: force;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: mat-color($mat-grey, 700);
}

::-webkit-scrollbar-thumb {
  background: mat-color($mat-grey, 900);
}

::-webkit-scrollbar-thumb:hover {
  background: mat-color($mat-grey, 900);
}

// Paginator Global Styling
.mat-paginator-container {
  justify-content: center !important;
  background-color: #212121 !important;
}

// Table Global Styling

table {
  thead {
    tr.mat-header-row {
      background-color: mat-color($mat-grey, 900);
      @include mat-elevation(8);

      th {
        transition: background-color 250ms cubic-bezier(0, 0, 0.2, 1);
        user-select: none;
        padding: 4px 16px !important;
        white-space: nowrap;
        height: 48px !important;
        color: white !important;

        div {
          p {
            margin: 0 !important;

            .mat-sort-header-container {
              justify-content: center;
            }
          }

          .hide,
          .drag {
            opacity: 0;
          }

          .drag {
            cursor: move;
          }
        }

        &:hover {
          .hide,
          .drag {
            opacity: 0.4;

            &:hover {
              opacity: 0.8;
            }
          }
        }

        &.cdk-drag-placeholder {
          cursor: move;
          .drag {
            opacity: 0.4;
          }
        }
      }
    }
  }

  tbody {
    tr.mat-row {
      td {
        padding: 16px !important;
        white-space: nowrap;

        button {
          width: 100%;
        }

        .status-chip {
          min-width: none;
          color: #212121;
          span {
            margin-left: 12px;
          }
        }
      }

      &:nth-child(even) {
        background-color: rgba($color: mat-color($mat-grey, 900), $alpha: 0.8);
      }

      &:nth-child(odd) {
        background-color: rgba($color: mat-color($mat-grey, 900), $alpha: 0.7);
      }

      &:hover {
        @include mat-elevation(4);
        background-color: rgba($color: mat-color($mat-grey, 900), $alpha: 0.9);
      }
    }
  }
}

.mat-menu-content:not(:empty) {
  padding: 0 !important;
}

.table-basic-filter .mat-form-field-wrapper {
  margin-bottom: -1.34375em;
}

// Buttom custom styling

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  &:not(.mat-button-disabled) {
    background-color: white !important;
    color: mat-color($mat-grey, 900) !important;
  }
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: white !important;
}

// Slide Toggle Global Styling
.mat-slide-toggle.mat-checked {
  .mat-slide-toggle-thumb {
    background-color: white !important;
  }

  .mat-slide-toggle-bar {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.form-dialog {
  &.expanded {
    max-width: 100vw !important;
    max-height: 100vh;

    .mat-dialog-container {
      width: 100vw;
      height: 100vh;

      .wrapper {
        max-height: 100vh;
        max-width: 100vw;
      }
    }
  }

  .mat-dialog-container {
    padding: 0 !important;

    .wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      max-height: 90vh;
      max-width: 90vw;
      overflow: hidden;
    }
  }
}

// Dropzone Styling
ngx-dropzone {
  margin: 0 16px !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
}

:host ::ng-deep .no-bottom-padding .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}
