@import "~@angular/material/theming";

.wrapper {
  margin: 0 auto;
  max-height: 100%;
  padding: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

mat-sidenav-container {
  height: 100%;
}

gridster-item {
  background-color: transparent;
}

@mixin available-component {
  background-color: rgba($color: mat-color($mat-teal, 500), $alpha: 0.25);
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(4);
  }
}
.available-components-sidenav {
  margin: 16px;
  .available-components {
    mat-card {
      &,
      &.cdk-drag-preview {
        @include available-component();
      }
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.section-list.cdk-drop-list-dragging .component:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.edit-dashboard-toggle {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.mat-menu-panel {
  margin-bottom: 16px;
}

mat-card {
  height: 100%;
}

.table-wrapper {
  flex: 1 0 auto;
}
