<mat-sidenav-container>
  <mat-sidenav position="end" mode="side" [opened]="editDashboardMode">
  </mat-sidenav>

  <mat-sidenav-content>
    <gridster [options]="options">
      <gridster-item
        [item]="component.coor"
        *ngFor="let component of components"
      >
        <ng-container [ngSwitch]="component.name">
          <ng-container *ngSwitchCase="'counter'">
            <ng-container
              *ngTemplateOutlet="counter; context: component"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'calendar'">
            <ng-container
              *ngTemplateOutlet="calendar; context: component"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'recent-quotes'">
            <ng-container
              *ngTemplateOutlet="recentQuotes; context: component"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'recent-orders'">
            <ng-container
              *ngTemplateOutlet="recentOrders; context: component"
            ></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'summary-statistics'">
            <ng-container
              *ngTemplateOutlet="summaryStatistics; context: component"
            ></ng-container>
          </ng-container>
        </ng-container>
      </gridster-item>
    </gridster>

    <button
      mat-fab
      class="edit-dashboard-toggle"
      color="primary"
      (click)="addItem()"
      style="z-index: 1"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Templates -->

<!-- Counters -->
<ng-template #counter let-type="type">
  <mat-card fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
    <ng-container [ngSwitch]="type">
      <!-- Quote Counter -->
      <ng-container *ngSwitchCase="'quote'">
        <button mat-fab color="primary">
          <mat-icon svgIcon="quotes_active"></mat-icon>
        </button>
        <div fxLayout="column" fxFlex="1 0 auto">
          <h1>{{ (quotesServ.quotes$ | async)?.length }} Quotes</h1>
          <h5>3 New quotes</h5>
        </div>

        <button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </ng-container>

      <!-- Order Counter -->
      <ng-container *ngSwitchCase="'order'">
        <button mat-fab color="primary">
          <mat-icon svgIcon="orders_active"></mat-icon>
        </button>
        <div fxLayout="column" fxFlex="1 0 auto">
          <h1>{{ (ordersServ.orders$ | async)?.length }} Orders</h1>
          <h5>1 Completed order | 5 Missing</h5>
        </div>
      </ng-container>

      <!-- Client Counter -->
      <ng-container *ngSwitchCase="'client'">
        <button mat-fab color="primary">
          <mat-icon svgIcon="clients_active"></mat-icon>
        </button>
        <div fxLayout="column" fxFlex="1 0 auto">
          <h1>{{ (clientsServ.clients$ | async)?.length }} Clients</h1>
          <h5>6 New clients | 64 Prospect</h5>
        </div>

        <button mat-icon-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </ng-container>
    </ng-container>
  </mat-card>
</ng-template>

<!-- Calendar -->
<ng-template #calendar>
  <mat-card>
    <app-dashboard-calendar></app-dashboard-calendar>
  </mat-card>
</ng-template>

<!-- TABLES -->

<!-- Recent Quotes -->
<ng-template #recentQuotes>
  <mat-card>
    <app-recent-quotes-table></app-recent-quotes-table>
  </mat-card>
</ng-template>

<!-- Recent orders -->
<ng-template #recentOrders>
  <mat-card>
    <app-recent-orders-table></app-recent-orders-table>
  </mat-card>
</ng-template>

<!-- Summary Statistics -->
<ng-template #summaryStatistics>
  <mat-card>
    <dashboard-summary></dashboard-summary>
  </mat-card>
</ng-template>
