<div
  class="product-handling-dimensions-input-container"
  role="group"
  [formGroup]="productHandlingDimensionsFormGroup"
  fxLayout="row"
>
  <span class="spacer">LENGTH: </span>
  <input type="number" formControlName="length" #lengthInput />
  <span class="spacer">WIDTH: </span>
  <input type="number" formControlName="width" #widthInput />
  <span class="spacer">HEIGHT: </span>
  <input type="number" formControlName="height" #heightInput />
</div>
