span {
  opacity: 0;
  transition: opacity 200ms;
}

:host.floating span {
  opacity: 1;
}

input {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

input {
  all: unset;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  text-align: left;
  color: white;
  width: 32px !important;
}

.spacer {
  font-weight: 200;
  opacity: 0;
  padding: 0 4px;
  transition: opacity 200ms;
}
