<div fxLayout="column" fxLayoutGap="16px">
  <div fxLayout="row" fxLayoutGap="16px">
    <div fxFlex="1 0 auto">
      <h1>Calendar</h1>
      <h4>Reminders, events, due dates</h4>
    </div>

    <mat-button-toggle-group [(ngModel)]="view" aria-label="Font Style">
      <mat-button-toggle value="month">Month</mat-button-toggle>
      <mat-button-toggle value="week">Week</mat-button-toggle>
      <mat-button-toggle value="day">Day</mat-button-toggle>
    </mat-button-toggle-group>

    <button
      mwlCalendarPreviousView
      mat-fab
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-fab mwlCalendarToday [(viewDate)]="viewDate" color="primary">
      <mat-icon>today</mat-icon>
    </button>
    <button
      mat-fab
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-divider [inset]="true"> </mat-divider>

  <ng-container [ngSwitch]="view">
    <mwl-calendar-month-view
      class="dashboard-calendar month"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      class="dashboard-calendar week"
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      class="dashboard-calendar day"
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </ng-container>
</div>
