@import "~@angular/material/theming";

.dashboard-calendar {
  &.day {
    max-height: 400px;
    overflow: auto;
  }

  .cal-month-view {
    background-color: #424242;

    .cal-cell-row {
      &.cal-header {
        text-transform: uppercase;
        font-weight: unset;
        background-color: rgba($color: mat-color($mat-teal, 500), $alpha: 0.5);
      }

      &:not(.cal-header):hover {
        background-color: rgba($color: mat-color($mat-teal, 500), $alpha: 0.25);
      }

      .cal-cell {
        &.cal-today {
          background-color: rgba($color: mat-color($mat-teal, 500), $alpha: 1);
        }

        &:not(.cal-today):hover {
          background-color: rgba(
            $color: mat-color($mat-teal, 500),
            $alpha: 0.75
          );
        }
      }
    }

    .cal-day-cell {
      &.cal-weekend {
        .cal-day-number {
          color: mat-color($mat-amber, 500);
        }
      }
    }
  }

  .cal-week-view {
    border-top: none;
    background-color: #424242;

    .cal-time {
      font-weight: unset;
      color: mat-color($mat-teal, 500);
    }

    .cal-event {
      color: white;
    }

    .cal-time-events {
      max-height: 400px;
      overflow-y: auto;

      .cal-day-columns:not(.cal-resize-active) .cal-hour-segment:hover {
        background-color: rgba($color: mat-color($mat-teal, 500), $alpha: 0.75);
      }
    }
    .cal-hour-odd {
      background-color: #212121;
    }

    .cal-day-headers {
      border: none;
      border-bottom: 1px solid;
      background-color: rgba($color: mat-color($mat-teal, 500), $alpha: 0.5);

      .cal-header {
        border: none;
        text-transform: uppercase;
        font-weight: unset;
        &.cal-today {
          background-color: rgba(
            $color: mat-color($mat-teal, 500),
            $alpha: 0.5
          );
        }

        &:hover {
          background-color: rgba(
            $color: mat-color($mat-teal, 500),
            $alpha: 0.75
          );
        }

        &.cal-weekend {
          span {
            color: mat-color($mat-amber, 500);
          }
        }
      }
    }
  }
}
